* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

input, button {
  font-family: inherit;
  font-size: inherit;
}

ul, li {
  list-style: none;
}

input:focus, button:focus {
  outline: none;
}

button, input[type="submit"] {
  cursor: pointer;
  background: none;
}

html {
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.33vw;
  color: #323232;
  background-color: #000;
  color: #fff;
  margin: 0 auto;
  font-weight: 600;
  overflow-x: hidden;
  padding: 0;
}

h2 {
  font-size: 8vw;
  line-height: 7.14vw;
}

.title__orange {
  color: #FF4900;
}

.title {
  font-family: 'Gilroy';
  font-style: normal;
  font-size: 8.57vw;
  line-height: 7.14vw;
  text-transform: lowercase;
  color: #fff;
}
.title p:first-child {
  padding-bottom: 2vw;
}

.button {
  border-radius: 18px;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 4vw;
  border: 0.2vw solid #FF4900;
  padding: 1.2vw 2.3vw;
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 600;
  font-size: 1.1vw;
  line-height: 12px;
}
.button:hover {
  background-color: #FF4900;
  -webkit-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
}

.points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 3vw;
          column-gap: 3vw;
  font-family: 'Proxima Nova';
  font-size: 1.1vw;
  position: relative;
}
.points img {
  position: absolute;
  margin-top: -1.7vw;
}
.points .number {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  margin-left: -0.2vw;
  color: #FF4900;
  font-weight: 600;
  padding-bottom: 1.3vw;
}

.pretitle {
  padding-bottom: 2.5vw;
  font-family: 'Gilroy';
  font-weight: 700;
  font-size: 0.9vw;
  line-height: 1.6vw;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

footer {
  padding-top: 12vw;
}

.unscroll {
  overflow: hidden;
}

.navigation-list {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 0.9vw;
  line-height: 1.8vw;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}
.navigation-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navigation-list li {
  margin-left: 2.7vw;
}
.navigation-list a:hover {
  color: #FF4900;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

.logo img {
  width: 6vw;
}

.nav__burger-btn {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #000000;
  z-index: 11;
}
.nav__burger-btn span {
  -webkit-transition: opacity .5s, -webkit-transform .5s;
  transition: opacity .5s, -webkit-transform .5s;
  transition: transform .5s, opacity .5s;
  transition: transform .5s, opacity .5s, -webkit-transform .5s;
  position: absolute;
  width: 30px;
  height: 4px;
  left: 5px;
  background-color: #ffffff;
}
.nav__burger-btn span:nth-child(1) {
  -webkit-transform: translateY(-9px);
          transform: translateY(-9px);
}
.nav__burger-btn span:nth-child(3) {
  -webkit-transform: translateY(9px);
          transform: translateY(9px);
}

.header.open .nav__burger-btn span:nth-child(1) {
  -webkit-transform: translateY(0) rotate(45deg);
          transform: translateY(0) rotate(45deg);
}

.header.open .nav__burger-btn span:nth-child(2) {
  opacity: 0;
}

.header.open .nav__burger-btn span:nth-child(3) {
  -webkit-transform: translateY(0) rotate(-45deg);
          transform: translateY(0) rotate(-45deg);
}

.nav__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4.2vw 6.25vw 3.18vw 4.69vw;
}

.navigation {
  position: -webkit-sticky;
  position: sticky;
  top: -30px;
}

.key {
  position: relative;
  padding-left: 9.17vw;
}

.key-background__img {
  position: absolute;
  top: 0%;
  left: 22%;
}
.key-background__img img {
  width: 70vw;
  height: auto;
}

.key-background__img img {
  z-index: 0;
}

.key__title {
  position: relative;
  z-index: 1;
}

.key__content {
  position: relative;
  padding-top: 6.25vw;
  z-index: 1;
}

.key__img {
  z-index: 1;
  position: relative;
  top: 5%;
  left: 4%;
}
.key__img img {
  width: 60vw;
  height: auto;
}

.key__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.key__button {
  min-width: 15vw;
}

.key__content {
  position: relative;
}
.key__content p:first-child {
  padding-bottom: 40px;
  font-family: 'Proxima Nova';
  font-weight: 600;
  font-size: 1.50vw;
  line-height: 1.5vw;
  z-index: 1;
}
.key__content .price {
  padding-bottom: 4vw;
  font-family: "Proxima Nova";
  font-weight: 600;
  font-size: 1.8vw;
  line-height: 2.22vw;
  z-index: 1;
}

.problems {
  margin-top: 8.65vw;
  padding: 0px 6.88vw;
  margin-bottom: 3vw;
}

.problems__title {
  padding-bottom: 5.8vw;
}

.problems__row {
  padding-bottom: 6vw;
}

.unkillable {
  position: relative;
  z-index: 1;
  padding-top: 8.25vw;
}

.unkillable__container {
  margin: 0 auto;
  padding-left: 3.13vw;
}

.cent {
  text-align: center;
}

.ukillable__title p:first-child {
  padding-bottom: 2.7vw;
}

.unkillable_img {
  position: relative;
  z-index: 1;
  top: 5%;
  left: 24%;
}
.unkillable_img img {
  width: 50vw;
  height: auto;
}

.unkillable-background__image {
  position: absolute;
  z-index: 0;
  top: 5%;
  left: 32%;
}
.unkillable-background__image img {
  width: 60vw;
  height: auto;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #000;
}

body::-webkit-scrollbar-thumb {
  background: rgba(122, 122, 122, 0.3);
  border-radius: 8px;
  border: 2px solid rgba(159, 159, 159, 0.653);
}

.pencil {
  margin: 12.5vw 11.67vw 0vw 6.93vw;
}

.pencil__row_img {
  top: 5%;
  left: 4%;
}
.pencil__row_img img {
  width: 30vw;
  height: auto;
}

.pencil__title {
  padding-bottom: 4.17vw;
}

.pencil__row_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 6.25vw;
  -webkit-column-gap: 5.21vw;
          column-gap: 5.21vw;
}

.pencil__text {
  width: 23.4vw;
  font-family: 'Proxima Nova';
  font-weight: 600;
  font-size: 1.1vw;
  line-height: 1.4vw;
}

.video__container {
  padding-bottom: 13.39vw;
}

.buy__container {
  padding: 0px 9vw;
}

.buy__title {
  padding-bottom: 8vw;
}

.buy__row {
  -webkit-column-gap: 4.5vw;
          column-gap: 4.5vw;
}
.buy__row div {
  border-bottom: 0.1vw solid;
}
.buy__row span {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 4.5vw;
  line-height: 80%;
}

.wrapper {
  background: url("./../img/header/line_wrapper.svg");
  background-size: 100% 100%;
}

.team {
  padding: 12.55vw 0px 0px 6.88vw;
  position: relative;
}

.team__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 14vw;
          column-gap: 14vw;
}

.person img {
  width: 15vw;
}

.person__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__title {
  padding-bottom: 5.21vw;
}

.team__person {
  position: relative;
}

.person__name {
  font-family: 'Gilroy';
  font-size: 2vw;
  line-height: 100%;
  position: absolute;
  top: 0%;
  left: 70%;
  text-transform: lowercase;
}

.social__network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.2vw;
          column-gap: 1.2vw;
  text-transform: capitalize;
  font-family: 'Gilroy';
  font-weight: 700;
  font-size: 1vw;
  line-height: 0.9vw;
  line-height: 0.04em;
  color: #FF4900;
}

.person__line {
  padding: 1.56vw 0px;
}

.team__text {
  padding-top: 5.21vw;
  font-family: 'Proxima Nova';
  font-size: 1.2vw;
  line-height: 1.7vw;
  max-width: 23.6vw;
}
.team__text p {
  padding-bottom: 1.3vw;
}

.set {
  padding: 12.24vw 11.3vw 0px 0px;
}

.set__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 6.72vw;
          column-gap: 6.72vw;
}

.set__title {
  padding-bottom: 4.1vw;
}

.set__price {
  font-family: 'Proxima Nova';
  font-weight: 600;
  font-size: 1.35vw;
  line-height: 1.67vw;
  padding-bottom: 2.19vw;
}

.set__img {
  left: 5%;
}
.set__img img {
  width: 30vw;
}

.set__radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.6vw;
          column-gap: 2.6vw;
  padding-bottom: 3.13vw;
  font-weight: 600;
  font-size: 1.3vw;
  line-height: 1.35vw;
}
.set__radio a {
  position: relative;
  padding-left: 2.19vw;
}
.set__radio .white::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 1.46vw;
  height: 1.46vw;
  border-radius: 50%;
  background-color: #fff;
  top: 0%;
  left: 0%;
}
.set__radio .grey::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 1.46vw;
  height: 1.46vw;
  border-radius: 50%;
  background-color: #464646;
  top: 0%;
  left: 0%;
}

input {
  display: block;
}

.set__radio a {
  display: inline-block;
  color: #ffffff;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
}

.set__radio a:after {
  background-color: #ff6000;
  display: block;
  content: "";
  height: 3px;
  width: 0%;
  -webkit-transition: width .3s ease-in-out;
  -moz--transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
}

.set__radio a:hover:after,
.set__radio a:focus:after {
  width: 100%;
}

.feedback__section {
  padding: 12.5vw 0px 0px 6.88vw;
}

.feedback__title {
  font-size: 8vw;
  line-height: 5.5vw;
  font-weight: 700;
}

.feedback__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 9vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 9vw;
}

.feedback__social p {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 2.5vw;
  line-height: 80%;
  padding-bottom: 2.7vw;
}
.feedback__social a {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 1vw;
  line-height: 0.9vw;
  text-transform: capitalize;
  padding-top: 2vw;
}

.feedback__form p {
  padding-bottom: 1.3vw;
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 600;
  font-size: 1.1vw;
  line-height: 1.86vw;
}
.feedback__form label {
  display: block;
  padding-bottom: 2.4vw;
}
.feedback__form label:last-child {
  padding-bottom: 4.17vw;
}
.feedback__form input {
  width: 55vw;
  background-color: #000;
  border-bottom: 0.1vw #fff solid;
  color: #fff;
}
.feedback__form textarea {
  background-color: #000;
  border-bottom: 0.1vw #fff solid;
  color: #fff;
  resize: none;
  width: 55vw;
}
.feedback__form a {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 600;
  font-size: 1.1vw;
  line-height: 1.8vw;
}

.params__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  padding-bottom: 6.25vw;
  padding-right: 27vw;
  -webkit-column-gap: 3vw;
          column-gap: 3vw;
}
.params__row::-webkit-scrollbar {
  height: 2px;
}
.params__row::-webkit-scrollbar-track {
  background: #404040;
  height: 2px;
}
.params__row::-webkit-scrollbar-thumb {
  background: #FF4900;
  height: 2px;
}

.params {
  padding-left: 13.4vw;
  padding-top: 3.02vw;
}

.params__img img {
  width: 36vw;
}

.params__title {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 3.65vw;
  line-height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33.8vw;
}

.params__scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2.6vw;
  -webkit-column-gap: 0.73vw;
          column-gap: 0.73vw;
}

.scroll__number {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 600;
  font-size: 1.1vw;
  line-height: 1.35vw;
}

.arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.89vw;
          column-gap: 0.89vw;
  padding-left: 1.88vw;
  position: absolute;
  left: 19.27vw;
}
.arrows img {
  width: 1vw;
}

.leftarr {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.active {
  -webkit-filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(5816%) hue-rotate(337deg) brightness(138%) contrast(100%);
          filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(5816%) hue-rotate(337deg) brightness(138%) contrast(100%);
}

.params__swipe {
  padding-top: 1.25vw;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 0.83vw;
  line-height: 0.73vw;
  letter-spacing: 0.04em;
  position: absolute;
}

.cosmos {
  padding: 16.6vw 0px 17.85vw 0px;
  position: relative;
}

.cosmos__title {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 8vw;
  line-height: 5.6vw;
  white-space: nowrap;
}

.cosmos__row {
  padding: 6.6vw 15vw 0px 15vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 6vw;
          column-gap: 6vw;
}

.cosmos__text {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 600;
  font-size: 1vw;
  line-height: 1.7vw;
  padding-bottom: 5.5vw;
  position: relative;
  z-index: 9;
}

.cosmos__content .social__network {
  padding-bottom: 2vw;
}

.hashtag {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 1vw;
  line-height: 0.9vw;
  letter-spacing: 0.04em;
  padding-top: 20vw;
}

.cosmos__background {
  position: absolute;
  z-index: 0;
  top: 0%;
}
.cosmos__background img {
  width: 60vw;
  height: auto;
}

.video {
  position: relative;
  z-index: 1;
  top: 5%;
  left: -9%;
  width: 43vw;
  height: auto;
  max-height: 100%;
}
.video img {
  width: 60vw;
  height: auto;
}

.container {
  max-width: 1920px;
}

@media (max-width: 420px) {
  * {
    line-height: 26px;
  }

  .container {
    margin-right: 25px;
    margin-left: 25px;
    max-width: 350px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .nav__burger-btn {
    display: block;
  }

  .navigation__list-burger {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #000;
    border: #464545 1px solid;
    padding: 75px 0px 20px 0px;
    width: 100vw;
    left: -100vw;
    height: 100%;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    z-index: 10;
  }
  .navigation__list-burger ul {
    display: block;
  }
  .navigation__list-burger .menu__link {
    color: #ffffff;
    display: block;
  }

  .header.open .navigation-list {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }

  .feedback__button a {
    font-size: 14px;
  }

  body {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .arrows {
    display: none;
  }

  .nav li {
    margin-left: 10px;
  }
  .nav .navigation-list {
    font-size: 10px;
  }
  .nav .navigation-list li {
    font-size: 10px;
  }
  .nav .nav__row {
    padding: 0px 0px 40px 0px;
  }

  .logo img {
    width: 50px;
  }

  .button {
    width: 100px;
    font-size: 10px;
    height: 30px;
    padding: 10px 5px;
    border-radius: 10px;
  }
  .button border {
    border: 1px;
  }

  .key {
    padding-left: 0px;
  }
  .key .key__button a {
    font-size: 8px;
  }
  .key .key__row {
    -webkit-column-gap: 0px;
            column-gap: 0px;
  }
  .key .key-background__img {
    top: 25px;
    left: 0px;
  }
  .key .key__content {
    position: relative;
    padding-top: 20px;
  }
  .key .key__content p:first-child {
    padding-bottom: 25px;
    font-size: 11px;
    line-height: 13px;
  }
  .key .key__content .price {
    padding-bottom: 15px;
    font-size: 11px;
    line-height: 10px;
  }
  .key .key-background__img {
    top: 20%;
    left: 10%;
  }
  .key .key-background__img img {
    width: 70vw;
  }
  .key .key__img {
    padding-top: 15%;
    left: 3%;
  }
  .key .key__img img {
    width: 60vw;
  }

  .wrapper .container {
    padding-left: 25px;
    padding-right: 25px;
    margin-right: 0;
    margin-left: 0;
  }

  .title {
    font-size: 47px;
    line-height: 30px;
  }
  .title p:first-child {
    padding-bottom: 10px;
  }

  .pretitle {
    padding-bottom: 10px;
    margin-top: 40px;
    font-size: 8px;
  }

  .points {
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
  .points img {
    margin-top: -15px;
  }
  .points .number {
    padding-bottom: 10px;
  }

  .problems {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 20px;
  }
  .problems .problems__title {
    padding-bottom: 40px;
  }
  .problems .problems__row {
    display: block;
    padding-bottom: 16px;
    padding-left: 4px;
  }
  .problems .problems__row p {
    font-size: 14px;
    padding: 0;
    line-height: 15px;
  }
  .problems .problems__row div {
    padding-top: 35px;
  }
  .problems .problems__row img {
    width: 13px;
    padding-top: 4px;
  }
  .problems img {
    width: 8px;
  }
  .problems .problems__row {
    padding-bottom: 0px;
  }

  h2 {
    font-size: 35px;
    line-height: 20px;
  }

  .points {
    font-size: 10px;
  }

  .number p {
    font-size: 9px;
  }

  .unkillable {
    padding-top: 0px;
    padding-left: 0px;
  }
  .unkillable .unkillable__container {
    padding-left: 0px;
  }
  .unkillable .unkillable_img {
    position: relative;
    z-index: 1;
    position: 2%;
    padding-left: 0%;
  }
  .unkillable .unkillable_img img {
    width: 270px;
  }
  .unkillable .unkillable-background__image {
    position: absolute;
    z-index: 0;
    right: -69px;
    top: -20px;
  }
  .unkillable .unkillable-background__image img {
    width: 330px;
  }

  .params {
    padding-left: 0px;
    padding-bottom: 20px;
  }
  .params .params__title {
    font-size: 30px;
    width: 300px;
  }
  .params .arrows {
    display: none;
  }
  .params .params__img img {
    width: 250px;
  }
  .params .params__container {
    width: 500px;
  }
  .params .params__row {
    -webkit-column-gap: 10px;
            column-gap: 10px;
    padding-bottom: 45px;
  }
  .params .params__swipe {
    font-size: 13px;
  }
  .params .params__scroll img {
    width: 17px;
  }
  .params .params__scroll p {
    font-size: 14px;
  }

  .hashtag {
    font-size: 10px;
  }

  header .navigation__list-burger li {
    font-size: 15px;
  }
  header .navigation__list-burger li a {
    padding-top: 5px;
    font-size: 15px;
  }

  .pencil .pencil__text {
    width: 100px;
    font-size: 12px;
    line-height: 15px;
  }
  .pencil .pencil__row_img {
    padding-top: 50px;
    position: absolute;
    top: 1500px;
    left: 50%;
  }
  .pencil .pencil__row_img img {
    width: 50vw;
  }
  .pencil .pencil__title p {
    font-size: 40px;
  }
  .pencil .pencil__text {
    font-size: 14px;
  }
  .pencil .pencil__row_main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 40px;
  }
  .pencil .pencil__row_points {
    display: block;
    padding-left: 10px;
  }
  .pencil .pencil__row_points p {
    font-size: 15px;
    line-height: 15px;
  }
  .pencil .pencil__row_points div {
    padding-top: 35px;
  }

  .cosmos .cosmos__text {
    padding-bottom: 40px;
  }
  .cosmos .cosmos__text p {
    font-size: 15px;
  }
  .cosmos .cosmos__row {
    display: block;
    margin: 0px;
    padding: 0px;
    padding-left: 10%;
  }
  .cosmos .cosmos__content {
    width: 70vw;
  }
  .cosmos video {
    padding-right: 10px;
    width: 80vw;
    padding-bottom: 20px;
    height: 230px;
  }
  .cosmos .video__container {
    padding-bottom: 20px;
  }
  .cosmos .cosmos__pretitle {
    padding-left: 0px;
  }
  .cosmos .cosmos__title {
    padding-left: 0px;
  }
  .cosmos .cosmos__background {
    top: -310px;
    left: 0px;
  }
  .cosmos .cosmos__background img {
    width: 770px;
  }
  .cosmos .hashtag {
    padding-top: 0px;
  }
  .cosmos .cosmos__content {
    padding-left: 20px;
  }

  .buy {
    overflow-y: hidden;
  }
  .buy .buy__container {
    padding: 0;
  }
  .buy .buy__title {
    padding-bottom: 40px;
  }
  .buy .buy__row {
    -webkit-column-gap: 15px;
            column-gap: 15px;
    overflow: hidden;
  }
  .buy .buy__row span {
    font-size: 20px;
  }

  .team {
    padding-left: 0px;
    padding-top: 70px;
  }
  .team .team__text {
    line-height: 26px;
    padding-top: 20px;
    font-size: 13px;
  }
  .team .team__text p {
    padding-bottom: 15px;
  }
  .team .person img {
    width: 130px;
  }
  .team .team__row {
    -webkit-column-gap: 30px;
            column-gap: 30px;
  }
  .team .person {
    padding-bottom: 170px;
  }
  .team .person__name {
    top: 170px;
    left: 10px;
    font-size: 20px;
  }
  .team .team__text {
    height: 250px;
    overflow: auto;
  }
  .team .team__title {
    padding-bottom: 40px;
  }

  .set span {
    font-size: 15px;
  }
  .set .set__title {
    padding-bottom: 30px;
  }
  .set .set__title p {
    font-size: 10vw;
  }
  .set .set__row {
    -webkit-column-gap: 20px;
            column-gap: 20px;
    padding-right: 25px;
    padding-left: 25px;
  }
  .set .set__img img {
    width: 240px;
    padding-top: 50px;
    padding-left: 90px;
  }
  .set .set__radio {
    padding-right: 130px;
    -webkit-column-gap: 13px;
            column-gap: 13px;
    font-size: 10px;
  }
  .set .set__radio .grey::before {
    width: 10px;
    height: 10px;
    left: -5px;
    top: 0px;
  }
  .set .set__radio .white::before {
    width: 10px;
    height: 10px;
    top: 0px;
    left: -5px;
  }
  .set .set__button a {
    font-size: 10px;
    width: 120px;
  }

  .social__network {
    font-size: 10px;
  }

  .feedback {
    padding-left: 0px;
  }
  .feedback .feedback__row {
    padding-top: 50px;
  }
  .feedback .feedback__section {
    padding-left: 0;
    padding-top: 50px;
  }
  .feedback .feedback__social {
    display: none;
  }
  .feedback .feedback__form p {
    padding-top: 10px;
    font-size: 14px;
  }
  .feedback .feedback__form input {
    width: 250px;
  }
  .feedback .feedback__form textarea {
    width: 250px;
  }

  .key .container {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .problems {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .problems .container {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .params .container {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .pencil {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .pencil .pencil__row_points {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .cosmos .cosmos__content {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .buy .container {
    padding-left: 0;
    padding-right: 0;
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 40px;
  }

  .wrapper {
    background: none;
  }

  .set {
    margin: 0;
    padding: 0;
    padding-top: 60px;
  }

  .header .container {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .unkillable .container {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .problems .problems__title p {
    line-height: 30px;
  }

  .feedback .feedback__title p {
    line-height: 30px;
  }

  .feedback__form input {
    font-size: 10px;
  }
}
/*@media(max-width: 350px){
    body{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .container{
        margin-left: 14px;
        margin-right: 14px;
        overflow-x: hidden;
        max-width: none;
        flex-direction: column;
    }
    .nav{
        li{
            margin-left: 10px;
        }
        .navigation-list{
            font-size: 9px;
            li{
                font-size: 9px;
            }
        }
        .nav__row{
            padding: 15px 25px 40px 25px;
        }
    }
    .logo{
        img{
            width: 50px;
        }
    }
    .button{
        font-size: 12px;
        border{
            border: 1px;
        }
        height: 30px;
        padding: 10px 15px;
    }
    .key{
        margin-right: 0px;
        line-height: 12px;
        padding-left: 20px;
        .key__button{
            a{
                font-size: 8px;
            }
        }
        .key__row{
            column-gap: 0px;
            overflow: hidden;
        }
        .key-background__img{
            top: 25px;
            left: 0px;
        }
        .key__content{
            position: relative;
            padding-top: 20px;
            p:first-child{
                padding-bottom: 25px;
                font-size: 11px;
                line-height: 15px;
            }
            .price{
                padding-bottom: 15px;
                font-size: 11px;
                line-height: 15px;
            }
        }
        .key-background__img{
            top:0px;
            left: -10px;
            img{
                width: 330px;
            }
        }
        .key__img{
            top: 20px;
            left: -28px;
            img{
                width: 270px;
            }
        }
        .button{
            width: 105px;
        }
    }
    .title{
        font-size: 40px;
        line-height:30px;
        p:first-child{
            padding-bottom: 10px;
        }
    }
    .pretitle{
        padding-bottom: 10px;
        padding-top: 5px;
        font-size: 8px;
    }
    .points{
        column-gap: 20px;
        img{
            margin-top: -15px;
        }
        .number{
            padding-bottom: 10px;
        }
    }
    .problems{
        margin-top: 0px;
        margin-bottom: 0px;
        padding-left: 23px;
        padding-right: 0px;
        padding-bottom: 20px;
        .problems__title{
            padding-bottom: 40px;
        }
        .problems__row{
            display: block;
            p{
                font-size: 14px;
                padding: 0;
                line-height: 15px;
            }
            div{
                padding-top: 35px;
            }
            padding-bottom: 16px;
            padding-left: 4px;
            img{
                width: 13px;
                padding-top: 4px;
            }
        }
        img{
            width: 8px;
        }
        .problems__row{
            padding-bottom: 0px;
        }
    }
    h2{
        font-size: 30px;
        line-height: 20px;
    }
    .points{
        font-size: 10px;
    }
    .number{
        p{
            font-size: 9px;
        }
    }
    .unkillable{
        padding-top: 0px;
        padding-left: 20px;
        .unkillable__container{
            padding-left: 0px;
        }
        .unkillable_img{
            position: relative;
            z-index: 1;
            padding: 15px 0px 0px 20px;
            img{
                width: 270px;
            }
        }
        .unkillable-background__image{
            position: absolute;
            z-index: 0;
            right: -65px;
            top: 20px;
            img{
                width: 330px;
            }
        }
    }
    .params{
        padding-left: 20px;
        padding-bottom: 20px;
        .params__title{
            font-size: 30px;
            width: 300px;
        }
        .arrows{
            display: none;
        }
        .params__img{
            img{
                width: 250px;
            }
        }
        .params__container{
            width: 500px;
        }
        .params__row{
            column-gap: 10px;
            padding-bottom: 45px;
        }
        .params__swipe{
            font-size: 13px;
        }
        .params__scroll{
            img{
                width: 17px;
            }
            p{
                font-size: 14px;
            }
        }
    }
    .pencil{
        margin: 30px 0px 0px 20px;
        .pencil__row_main{
            column-gap: 0px;
        }
        .pencil__text{
            width: 100px;
            font-size: 12px;
            line-height: 15px;
        }
        .pencil__row_img{
            padding-top: 50px;
            img{
                width: 150px;
            }
        }
        .pencil__title{
            p{
                font-size: 40px;
            }
        }
        .pencil__text{
            font-size: 14px;
        }
        .pencil__row_main{
            display: flex;
            justify-content: space-between;
            padding-bottom: 40px;
        }
        .pencil__row_points{
            display: block;
            padding-left: 10px;
            p{
                font-size: 15px;
                line-height: 15px;
            }
            div{
                padding-top: 35px;
            }
        }
    }
    .feedback__button{
        a{
            font-size: 14px;
        }
    }
    .cosmos{
        padding: 0px;
        padding-top: 30px;
        padding-left: 0px;
        .cosmos__text{
            padding-bottom: 40px;
            p{
                font-size: 15px;
            }
        }
        .cosmos__row{
            display: block;
            padding: 20px 0px 20px 0px;
        }
        video{
            width: 300px;
            padding-left: 70px;
            padding-bottom: 20px;
            height: 230px;
        }
        .video__container{
            padding-bottom: 20px;
        }
        .cosmos__pretitle{
            padding-left: 0px;
        }
        .cosmos__title{
            padding-left: 0px;
        }
        .cosmos__background{
            img{
                width:770px;
            }
            top: -310px;
            left: 0px;
        }
        .hashtag{
            padding-top: 15px;
        }
        .cosmos__content{
            padding-left: 20px;
        }
    }
    .buy{
        overflow-y: hidden;
        .buy__container{
            padding: 0;
        }
        .buy__title{
            padding-bottom: 40px;
        }
        padding-left: 20px;
        .buy__row{
            padding-right: 10px;
            padding-top: 12px;
            padding-left: 5px;
            column-gap: 15px;
            overflow: hidden;
            span{
                font-size: 20px;
            }
        }
    }
    .hashtag{
        font-size: 10px;
    }
    header{
        .navigation__list-burger{
            li{
                a{
                    padding-top: 5px;
                    font-size: 15px;
                }
                font-size: 15px;
            }
        }
    }
    .team{
        padding-left: 20px;
        padding-top: 70px;
        .team__text{
            font-size: 13px;
        }
        .person{
            img{
                width: 130px;
            }
        }
        .team__row{
            column-gap: 40px;
        }
        .person{
            padding-bottom: 120px;
        }
        .social__network{
            font-size: 10px;
        }
        .person__name{
            top: 170px;
            left:10px;
            font-size: 20px;
        }
        .team__text{
            height: 250px;
            width: 200px;
            overflow: auto;
        }
        .team__title{
            padding-bottom: 40px;
        }
    }
    .social__network{
        font-size: 10px;
    }
    .set{
        padding: 140px 0px 0px 0px;
        span{
            font-size: 15px;
        }
        .button{
            width: 140px;
        }
        .set__title{
            padding-bottom: 30px;
        }
        .set__row{
            column-gap: 40px;
        }
        .set__img{
            img{
                padding-top: 50px;
                width: 240px;
            }
        }
        .set__radio{
            padding-right: 130px;
            column-gap: 13px;
            font-size: 10px;
            .grey::before{
                width: 10px;
                height: 10px;
                left: -5px;
                top: 0px;
            }
            .white::before{
                width: 10px;
                height: 10px;
                top: 0px;
                left: -5px;
            }
        }
    }
    .feedback{
        padding-left: 20px;
        .feedback__row{
            padding-top: 50px;
        }
        .feedback__section{
            padding-left: 0;
            padding-top: 50px;
        }
        .feedback__social{
            display: none;
        }
        .feedback__form{
            p{
                font-size: 14px;
            }
            input{
                width: 300px;
            }
            textarea{
                width: 300px;
                height: 80px;
            }
        }
    }
}*/
@font-face {
  font-family: 'SVN-Gilroy';
  src: url("../fonts/gilroy/SVN-GilroyLight.woff2") format("woff2"), url("../fonts/gilroy/SVN-GilroyLight.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroy/gilroy-bold/Gilroy-Bold.woff2") format("woff2"), url("../fonts/gilroy/gilroy-bold/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("../fonts/proxima-nova/proxima-nova-bold/hneggppdfobmfeppgkglpfhnnicafonh.woff2") format("woff2"), url("../fonts/proxima-nova/proxima-nova-bold/hneggppdfobmfeppgkglpfhnnicafonh.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/proxima-nova/proxima-nova-light/amlgjlahnkgmkjoldgbpeifodofplkkf.woff2") format("woff2"), url("../fonts/proxima-nova/proxima-nova-light/amlgjlahnkgmkjoldgbpeifodofplkkf.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
