@font-face {
    font-family: 'ankchiddjgmbalc';
    src: url('amlgjlahnkgmkjoldgbpeifodofplkkf.woff2') format('woff2'),
        url('amlgjlahnkgmkjoldgbpeifodofplkkf.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

