@font-face {
    font-family: 'ielaolbpchndjkb';
    src: url('hneggppdfobmfeppgkglpfhnnicafonh.woff2') format('woff2'),
        url('hneggppdfobmfeppgkglpfhnnicafonh.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

