 .container{
    max-width: 1920px;
 }
 /*@media(max-width:768px){
    .container{
        max-width: 750px;
        flex-direction: column;
    }
    body{
        width: 1440px;
    }
 }*/
@media(max-width:767px){
    .container{
        max-width: 750px;
        flex-direction: column;
    }
}
@media(max-width: 350px){
    .container{
        overflow-x: hidden;
        flex-direction: column;
    }
}
