.container{
    max-width: 1440px;
}
@media(max-width:767px){
    .container{
        max-width: 350px;
        flex-direction: column;
    }
    .feedback__button{
        a{
            font-size: 14px;
        }
    }
    body{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .arrows{
        display: none;
    }
    .nav{
        li{
            margin-left: 10px;
        }
        .navigation-list{
            font-size: 10px;
            li{
                font-size: 10px;
            }
        }
        .nav__row{
            padding: 15px 25px 40px 25px;
        }
    }
    .logo{
        img{
            width: 50px;
        }
    }
    .button{
        font-size: 12px;
        border{
            border: 1px;
        }
        height: 30px;
        padding: 2px 3px;
    }
    .key{
        padding-left: 20px;
        .key__button{
            a{
                font-size: 8px;
            }
        }
        .key__row{
            column-gap: 0px;
        }
        .key-background__img{
            top: 48px;
            left: 20px;
        }
        .key__content{
            position: relative;
            padding-top: 20px;
            p:first-child{
                padding-bottom: 25px;
                font-size: 11px;
                line-height: 10px;
            }
            .price{
                padding-bottom: 15px;
                font-size: 11px;
                line-height: 10px;
            }
        }
        .key-background__img{
            img{
                width: 270px;
            }
        }
        .key__img{
            left: -150px;
            img{
                width: 200px;
            }
        }
    }
    .title{
        font-size: 40px;
        line-height:30px;
        p:first-child{
            padding-bottom: 10px;
        }
    }
    .pretitle{
        padding-bottom: 10px;
        margin-top: 40px;
        font-size: 8px;
    }
    .points{
        column-gap: 20px;
        img{
            margin-top: -15px;
        }
        .number{
            padding-bottom: 10px;
        }
    }
    .problems{
        margin-top: 10px;
        margin-bottom: 0px;
        padding-left: 23px;
        padding-right: 0px;
        padding-bottom: 20px;
        .problems__title{
            padding-bottom: 40px;
        }
        .problems__row{
            p{
                font-size: 12px;
            }
            padding-bottom: 15px;
            padding-left: 4px;
        }
        img{
            width: 8px;
        }
        .problems__row{
            padding-bottom: 0px;
        }
    }
    h2{
        font-size: 30px;
        line-height: 20px;
    }
    .points{
        font-size: 10px;
    }
    .number{
        p{
            font-size: 9px;
        }
    }
    .unkillable{
        padding-top: 0px;
        padding-left: 20px;
        .unkillable__container{
            padding-left: 0px;
        }
        .unkillable_img{
            position: relative;
            z-index: 1;
            padding: 15px 0px 0px 20px;
            img{
                width: 270px;
            }
        }
        .unkillable-background__image{
            position: absolute;
            z-index: 0;
            right: -69px;
            top: -20px;
            img{
                width: 330px;
            }
        }
    }
    .params{
        padding-left: 20px;
        padding-bottom: 20px;
        .params__title{
            font-size: 30px;
        }
        .arrows{
            display: none;
        }
        .params__img{
            img{
                width: 250px;
            }
        }
        .params__container{
            width: 270px;
        }
        .params__row{
            column-gap: 0px;
            padding-bottom: 45px;
        }
        .params__swipe{
            font-size: 13px;
        }
        .params__scroll{
            img{
                width: 17px;
            }
            p{
                font-size: 14px;
            }
        }
    }
    .pencil{
        margin: 30px 0px 0px 20px;
        .pencil__row_main{
            column-gap: 0px;
        }
        .pencil__text{
            width: 100px;
            font-size: 12px;
            line-height: 15px;
        }
        .pencil__row_img{
            padding-top: 50px;
            img{
                width: 150px;
            }
        }
        .pencil__title{
            p{
                font-size: 40px;
            }
        }
        .pencil__text{
            font-size: 14px;
        }
        .pencil__row_main{
            display: flex;
            justify-content: space-between;
            padding-bottom: 40px;
        }
        .pencil__row_points{
            padding-left: 10px;
            p{
                font-size: 10px;
            }
        }
    }
    .cosmos{
        padding: 0px;
        padding-top: 30px;
        padding-left: -40px;
        .cosmos__text{
            padding-bottom: 40px;
            p{
                font-size: 15px;
            }
        }
        .cosmos__row{
            display: block;
            padding: 20px 0px 30px 0px;
        }
        video{
            width: 300px;
            padding-left: 30px;
            padding-bottom: 20px;
            height: 230px;
        }
        .video__container{
            padding-bottom: 20px;
        }
        .cosmos__pretitle{
            padding-left: 0px;
        }
        .cosmos__title{
            padding-left: 0px;
        }
        .cosmos__background{
            img{
                width:770px;
            }
            top: -310px;
            left: 0px;
        }
        .hashtag{
            padding-top: 15px;
        }
        .cosmos__content{
            padding-left: 20px;
        }
    }
    .buy{
        overflow-y: hidden;
        .buy__container{
            padding: 0;
        }
        .buy__title{
            padding-bottom: 40px;
        }
        padding-left: 20px;
        .buy__row{
            padding-right: 10px;
            padding-top: 12px;
            padding-left: 5px;
            column-gap: 15px;
            overflow: hidden;
            span{
                font-size: 20px;
            }
        }
    }
    .team{
        padding-left: 20px;
        padding-top: 70px;
        .team__text{
            padding-top: 20px;
            font-size: 13px;
            p{
                padding-bottom: 15px;
            }
        }
        .person{
            img{
                width: 130px;
            }
        }
        .team__row{
            column-gap: 30px;
        }
        .person{
            padding-bottom: 170px;
        }
        .person__name{
            top: 170px;
            left:10px;
            font-size: 20px;
        }
        .team__text{
            height: 250px;
            overflow: auto;
        }
        .team__title{
            padding-bottom: 40px;
        }
    }
    .set{
        padding: 140px 0px 0px 0px;
        span{
            font-size: 15px;
        }
        .set__title{
            padding-bottom: 30px;
        }
        .set__row{
            column-gap: 40px;
        }
        .set__img{
            img{
                width: 240px;
                padding-top: 50px;
                padding-left: 110px;
            }
        }
        .set__radio{
            padding-right: 130px;
            column-gap: 0px;
            font-size: 13px;
            .grey::before{
                width: 15px;
                height: 15px;
                left: 15px;
                top: 6px;
            }
            .white::before{
                width: 15px;
                height: 15px;
                top: 6px;
                left: 15px;
            }
        }
    }
    .feedback{
        padding-left: 20px;
        .feedback__row{
            padding-top: 50px;
        }
        .feedback__section{
            padding-left: 0;
            padding-top: 50px;
        }
        .feedback__social{
            display: none;
        }
        .feedback__form{
            p{
                font-size: 14px;
            }
            input{
                width: 300px;
            }
            textarea{
                width: 300px;
            }
        }
    }
}
@media(max-width: 350px){
    body{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .container{
        overflow-x: hidden;
        max-width: none;
        flex-direction: column;
    }
    .nav{
        li{
            margin-left: 10px;
        }
        .navigation-list{
            font-size: 9px;
            li{
                font-size: 9px;
            }
        }
        .nav__row{
            padding: 15px 25px 40px 25px;
        }
    }
    .logo{
        img{
            width: 50px;
        }
    }
    .button{
        font-size: 12px;
        border{
            border: 1px;
        }
        height: 30px;
        padding: 2px 3px;
    }
    .key{
        padding-left: 20px;
        .key__button{
            a{
                font-size: 8px;
            }
        }
        .key__row{
            column-gap: 0px;
        }
        .key-background__img{
            top: 48px;
            left: 20px;
        }
        .key__content{
            position: relative;
            padding-top: 20px;
            p:first-child{
                padding-bottom: 25px;
                font-size: 11px;
                line-height: 10px;
            }
            .price{
                padding-bottom: 15px;
                font-size: 11px;
                line-height: 10px;
            }
        }
        .key-background__img{
            img{
                width: 270px;
            }
        }
        .key__img{
            left: -150px;
            img{
                width: 200px;
            }
        }
    }
    .title{
        font-size: 40px;
        line-height:30px;
        p:first-child{
            padding-bottom: 10px;
        }
    }
    .pretitle{
        padding-bottom: 10px;
        margin-top: 40px;
        font-size: 8px;
    }
    .points{
        column-gap: 20px;
        img{
            margin-top: -15px;
        }
        .number{
            padding-bottom: 10px;
        }
    }
    .problems{
        margin-top: 10px;
        margin-bottom: 0px;
        padding-left: 23px;
        padding-right: 0px;
        padding-bottom: 20px;
        .problems__title{
            padding-bottom: 40px;
        }
        .problems__row{
            p{
                font-size: 12px;
            }
            padding-bottom: 15px;
            padding-left: 4px;
        }
        img{
            width: 8px;
        }
        .problems__row{
            padding-bottom: 0px;
        }
    }
    h2{
        font-size: 30px;
        line-height: 20px;
    }
    .points{
        font-size: 10px;
    }
    .number{
        p{
            font-size: 9px;
        }
    }
    .unkillable{
        padding-top: 0px;
        padding-left: 20px;
        .unkillable__container{
            padding-left: 0px;
        }
        .unkillable_img{
            position: relative;
            z-index: 1;
            padding: 15px 0px 0px 20px;
            img{
                width: 270px;
            }
        }
        .unkillable-background__image{
            position: absolute;
            z-index: 0;
            right: -65px;
            top: 20px;
            img{
                width: 330px;
            }
        }
    }
    .params{
        padding-left: 20px;
        padding-bottom: 20px;
        .params__title{
            font-size: 30px;
        }
        .arrows{
            display: none;
        }
        .params__img{
            img{
                width: 250px;
            }
        }
        .params__container{
            width: 270px;
        }
        .params__row{
            column-gap: 0px;
            padding-bottom: 45px;
        }
        .params__swipe{
            font-size: 13px;
        }
        .params__scroll{
            img{
                width: 17px;
            }
            p{
                font-size: 14px;
            }
        }
    }
    .pencil{
        margin: 30px 0px 0px 20px;
        .pencil__row_main{
            column-gap: 0px;
        }
        .pencil__text{
            width: 100px;
            font-size: 12px;
            line-height: 15px;
        }
        .pencil__row_img{
            padding-top: 50px;
            img{
                width: 150px;
            }
        }
        .pencil__title{
            p{
                font-size: 40px;
            }
        }
        .pencil__text{
            font-size: 14px;
        }
        .pencil__row_main{
            display: flex;
            justify-content: space-between;
            padding-bottom: 40px;
        }
        .pencil__row_points{
            padding-left: 10px;
            p{
                font-size: 10px;
            }
        }
    }
    .feedback__button{
        a{
            font-size: 14px;
        }
    }
    .cosmos{
        padding: 0px;
        padding-top: 30px;
        padding-left: -40px;
        .cosmos__background{
            img{
                width: 440px;
            }
        }
        .cosmos__text{
            padding-bottom: 40px;
            p{
                font-size: 15px;
            }
        }
        .cosmos__row{
            display: block;
            padding: 20px 0px 30px 0px;
        }
        video{
            width: 300px;
            padding-left: 30px;
            padding-bottom: 20px;
            height: 230px;
        }
        .video__container{
            padding-bottom: 20px;
        }
        .cosmos__pretitle{
            padding-left: 0px;
        }
        .cosmos__title{
            padding-left: 0px;
        }
        .cosmos__background{
            img{
                width:770px;
            }
            top: -310px;
            left: 0px;
        }
        .hashtag{
            padding-top: 15px;
        }
        .cosmos__content{
            padding-left: 20px;
        }
    }
    .buy{
        overflow-y: hidden;
        .buy__container{
            padding: 0;
        }
        .buy__title{
            padding-bottom: 40px;
        }
        padding-left: 20px;
        .buy__row{
            padding-right: 10px;
            padding-top: 12px;
            padding-left: 5px;
            column-gap: 15px;
            overflow: hidden;
            span{
                font-size: 20px;
            }
        }
    }
    .team{
        padding-left: 20px;
        padding-top: 70px;
        .team__text{
            padding-top: 20px;
            font-size: 13px;
            p{
                padding-bottom: 15px;
            }
        }
        .person{
            img{
                width: 130px;
            }
        }
        .team__row{
            column-gap: 30px;
        }
        .person{
            padding-bottom: 170px;
        }
        .person__name{
            top: 170px;
            left:10px;
            font-size: 20px;
        }
        .team__text{
            height: 250px;
            overflow: auto;
        }
        .team__title{
            padding-bottom: 40px;
        }
    }
    .set{
        padding: 140px 0px 0px 0px;
        span{
            font-size: 15px;
        }
        .set__title{
            padding-bottom: 30px;
        }
        .set__row{
            column-gap: 40px;
        }
        .set__img{
            img{
                padding-top: 50px;
                width: 240px;
            }
        }
        .set__radio{
            padding-right: 130px;
            column-gap: 0px;
            font-size: 13px;
            .grey::before{
                width: 15px;
                height: 15px;
                left: 15px;
                top: 6px;
            }
            .white::before{
                width: 15px;
                height: 15px;
                top: 6px;
                left: 15px;
            }
        }
    }
    .feedback{
        padding-left: 20px;
        .feedback__row{
            padding-top: 50px;
        }
        .feedback__section{
            padding-left: 0;
            padding-top: 50px;
        }
        .feedback__social{
            display: none;
        }
        .feedback__form{
            p{
                font-size: 14px;
            }
            input{
                width: 300px;
            }
            textarea{
                width: 300px;
            }
        }
    }
}
