.container{
    max-width: 1920px;
}
/*@media(max-width:1200px){
    .container{
        max-width: 750px;
        flex-direction: column;
    }

}*/
@media(max-width:767px){
    *{
        line-height: 26px;
    }
    .container{
        max-width: 350px;
        flex-direction: column;
    }
    .nav__burger-btn{
        display: block;
    }
    .navigation__list-burger{
        position: absolute;
        left: 0;
        top:0;
        background-color: #000;
        border: #464545 1px solid;
        padding: 75px 20px 20px 20px;
        width: 350px;
        left:-350px;
        height: 100%;
        transition: transform .5s;
        z-index: 10;
        ul{
            display: block;
        }
        .menu__link{
            color: #ffffff;
            display: block;
        }
    }
    .header.open .navigation-list{
        transform: translateX(100%);
    }
    .feedback__button{
        a{
            font-size: 14px;
        }
    }
    body{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .arrows{
        display: none;
    }
    .nav{
        li{
            margin-left: 10px;
        }
        .navigation-list{
            font-size: 10px;
            li{
                font-size: 10px;
            }
        }
        .nav__row{
            padding: 15px 25px 40px 25px;
        }
    }
    .logo{
        img{
            width: 50px;
        }
    }
    .button{
        width: 100px;
        font-size: 10px;
        border{
            border: 1px;
        }
        height: 30px;
        padding: 10px 5px;
        border-radius: 10px;
    }
    .key{
        padding-left: 20px;
        .key__button{
            a{
                font-size: 8px;
            }
        }
        .key__row{
            column-gap: 0px;
        }
        .key-background__img{
            top: 25px;
            left: 20px;
        }
        .key__content{
            position: relative;
            padding-top: 20px;
            p:first-child{
                padding-bottom: 25px;
                font-size: 11px;
                line-height: 10px;
            }
            .price{
                padding-bottom: 15px;
                font-size: 11px;
                line-height: 10px;
            }
        }
        .key-background__img{
            top:0px;
            left: 60px;
            img{
                width: 330px;
            }
        }
        .key__img{
            top: 40px;
            left: 50px;
            img{
                width: 270px;
            }
        }
    }
    .title{
        font-size: 47px;
        line-height:30px;
        p:first-child{
            padding-bottom: 10px;
        }
    }
    .pretitle{
        padding-bottom: 10px;
        margin-top: 40px;
        font-size: 8px;
    }
    .points{
        column-gap: 20px;
        img{
            margin-top: -15px;
        }
        .number{
            padding-bottom: 10px;
        }
    }
    .problems{
        margin-top: 0px;
        margin-bottom: 0px;
        padding-left: 23px;
        padding-right: 0px;
        padding-bottom: 20px;
        .problems__title{
            padding-bottom: 40px;
        }
        .problems__row{
            display: block;
            p{
                font-size: 14px;
                padding: 0;
                line-height: 15px;
            }
            div{
                padding-top: 20px;
            }
            padding-bottom: 16px;
            padding-left: 4px;
            img{
                width: 13px;
                padding-top: 4px;
            }
        }
        img{
            width: 8px;
        }
        .problems__row{
            padding-bottom: 0px;
        }
    }
    h2{
        font-size: 35px;
        line-height: 20px;
    }
    .points{
        font-size: 10px;
    }
    .number{
        p{
            font-size: 9px;
        }
    }
    .unkillable{
        padding-top: 0px;
        padding-left: 20px;
        .unkillable__container{
            padding-left: 0px;
        }
        .unkillable_img{
            position: relative;
            z-index: 1;
            padding: 15px 0px 0px 20px;
            left: 40px;
            img{
                width: 270px;
            }
        }
        .unkillable-background__image{
            position: absolute;
            z-index: 0;
            right: -69px;
            top: -20px;
            img{
                width: 330px;
            }
        }
    }
    .params{
        padding-left: 20px;
        padding-bottom: 20px;
        .params__title{
            font-size: 30px;
            width: 300px;
        }
        .arrows{
            display: none;
        }
        .params__img{
            img{
                width: 250px;
            }
        }
        .params__container{
            width: 500px;
        }
        .params__row{
            column-gap: 10px;
            padding-bottom: 45px;
        }
        .params__swipe{
            font-size: 13px;
        }
        .params__scroll{
            img{
                width: 17px;
            }
            p{
                font-size: 14px;
            }
        }
    }
    .hashtag{
        font-size: 10px;
    }
    header{
        .navigation__list-burger{
            li{
                a{
                    padding-top: 5px;
                    font-size: 15px;
                }
                font-size: 15px;
            }
        }
    }
    .pencil{
        margin: 30px 0px 0px 20px;
        .pencil__row_main{
            column-gap: 0px;
        }
        .pencil__text{
            width: 100px;
            font-size: 12px;
            line-height: 15px;
        }
        .pencil__row_img{
            padding-top: 50px;
            img{
                width: 210px;
            }
        }
        .pencil__title{
            p{
                font-size: 40px;
            }
        }
        .pencil__text{
            font-size: 14px;
        }
        .pencil__row_main{
            display: flex;
            justify-content: space-between;
            padding-bottom: 40px;
        }
        .pencil__row_points{
            display: block;
            padding-left: 10px;
            p{
                font-size: 15px;
                line-height: 15px;
            }
            div{
                padding-top: 20px;
            }
        }
    }
    .cosmos{
        padding: 0px;
        padding-top: 30px;
        padding-left: 0px;
        .cosmos__text{
            padding-bottom: 40px;
            p{
                font-size: 15px;
            }
        }
        .cosmos__row{
            display: block;
            padding: 20px 0px 20px 0px;
        }
        video{
            width: 300px;
            padding-left: 70px;
            padding-bottom: 20px;
            height: 230px;
        }
        .video__container{
            padding-bottom: 20px;
        }
        .cosmos__pretitle{
            padding-left: 0px;
        }
        .cosmos__title{
            padding-left: 0px;
        }
        .cosmos__background{
            img{
                width:770px;
            }
            top: -310px;
            left: 0px;
        }
        .hashtag{
            padding-top: 15px;
        }
        .cosmos__content{
            padding-left: 20px;
        }
    }
    .buy{
        overflow-y: hidden;
        .buy__container{
            padding: 0;
        }
        .buy__title{
            padding-bottom: 40px;
        }
        padding-left: 20px;
        .buy__row{
            padding-right: 10px;
            padding-top: 12px;
            padding-left: 5px;
            column-gap: 15px;
            overflow: hidden;
            span{
                font-size: 20px;
            }
        }
    }
    .team{
        padding-left: 20px;
        padding-top: 70px;
        .team__text{
            line-height: 26px;
            padding-top: 20px;
            font-size: 13px;
            p{
                padding-bottom: 15px;
            }
        }
        .person{
            img{
                width: 130px;
            }
        }
        .team__row{
            column-gap: 30px;
        }
        .person{
            padding-bottom: 170px;
        }
        .person__name{
            top: 170px;
            left:10px;
            font-size: 20px;
        }
        .team__text{
            height: 250px;
            overflow: auto;
        }
        .team__title{
            padding-bottom: 40px;
        }
    }
    .set{
        padding: 140px 0px 0px 0px;
        span{
            font-size: 15px;
        }
        .set__title{
            padding-bottom: 30px;
        }
        .set__row{
            column-gap: 40px;
        }
        .set__img{
            img{
                width: 240px;
                padding-top: 50px;
                padding-left: 110px;
            }
        }
        .set__radio{
            padding-right: 130px;
            column-gap: 13px;
            font-size: 10px;
            .grey::before{
                width: 10px;
                height: 10px;
                left: -5px;
                top: 3px;
            }
            .white::before{
                width: 10px;
                height: 10px;
                top: 3px;
                left: -5px;
            }
        }
    }
    .social__network{
        font-size: 10px;
    }
    .feedback{
        padding-left: 20px;
        .feedback__row{
            padding-top: 50px;
        }
        .feedback__section{
            padding-left: 0;
            padding-top: 50px;
        }
        .feedback__social{
            display: none;
        }
        .feedback__form{
            p{
                padding-top: 10px;
                font-size: 14px;
            }
            input{
                width: 300px;
            }
            textarea{
                width: 300px;
            }
        }
    }
}
@media(max-width: 350px){
    body{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .container{
        overflow-x: hidden;
        max-width: none;
        flex-direction: column;
    }
    .nav{
        li{
            margin-left: 10px;
        }
        .navigation-list{
            font-size: 9px;
            li{
                font-size: 9px;
            }
        }
        .nav__row{
            padding: 15px 25px 40px 25px;
        }
    }
    .logo{
        img{
            width: 50px;
        }
    }
    .button{
        font-size: 12px;
        border{
            border: 1px;
        }
        height: 30px;
        padding: 10px 15px;
    }
    .key{
        overflow: hidden;
        line-height: 12px;
        padding-left: 20px;
        .key__button{
            a{
                font-size: 8px;
            }
        }
        .key__row{
            column-gap: 0px;
            overflow: hidden;
        }
        .key-background__img{
            top: 25px;
            left: 0px;
        }
        .key__content{
            position: relative;
            padding-top: 20px;
            p:first-child{
                padding-bottom: 25px;
                font-size: 11px;
                line-height: 15px;
            }
            .price{
                padding-bottom: 15px;
                font-size: 11px;
                line-height: 15px;
            }
        }
        .key-background__img{
            top:0px;
            left: -10px;
            img{
                width: 330px;
            }
        }
        .key__img{
            top: 20px;
            left: -28px;
            img{
                width: 270px;
            }
        }
        .button{
            width: 105px;
        }
    }
    .title{
        font-size: 40px;
        line-height:30px;
        p:first-child{
            padding-bottom: 10px;
        }
    }
    .pretitle{
        padding-bottom: 10px;
        padding-top: 5px;
        font-size: 8px;
    }
    .points{
        column-gap: 20px;
        img{
            margin-top: -15px;
        }
        .number{
            padding-bottom: 10px;
        }
    }
    .problems{
        margin-top: 0px;
        margin-bottom: 0px;
        padding-left: 23px;
        padding-right: 0px;
        padding-bottom: 20px;
        .problems__title{
            padding-bottom: 40px;
        }
        .problems__row{
            display: block;
            p{
                font-size: 14px;
                padding: 0;
                line-height: 15px;
            }
            div{
                padding-top: 20px;
            }
            padding-bottom: 16px;
            padding-left: 4px;
            img{
                width: 13px;
                padding-top: 4px;
            }
        }
        img{
            width: 8px;
        }
        .problems__row{
            padding-bottom: 0px;
        }
    }
    h2{
        font-size: 30px;
        line-height: 20px;
    }
    .points{
        font-size: 10px;
    }
    .number{
        p{
            font-size: 9px;
        }
    }
    .unkillable{
        padding-top: 0px;
        padding-left: 20px;
        .unkillable__container{
            padding-left: 0px;
        }
        .unkillable_img{
            position: relative;
            z-index: 1;
            padding: 15px 0px 0px 20px;
            img{
                width: 270px;
            }
        }
        .unkillable-background__image{
            position: absolute;
            z-index: 0;
            right: -65px;
            top: 20px;
            img{
                width: 330px;
            }
        }
    }
    .params{
        padding-left: 20px;
        padding-bottom: 20px;
        .params__title{
            font-size: 30px;
            width: 300px;
        }
        .arrows{
            display: none;
        }
        .params__img{
            img{
                width: 250px;
            }
        }
        .params__container{
            width: 500px;
        }
        .params__row{
            column-gap: 10px;
            padding-bottom: 45px;
        }
        .params__swipe{
            font-size: 13px;
        }
        .params__scroll{
            img{
                width: 17px;
            }
            p{
                font-size: 14px;
            }
        }
    }
    .pencil{
        margin: 30px 0px 0px 20px;
        .pencil__row_main{
            column-gap: 0px;
        }
        .pencil__text{
            width: 100px;
            font-size: 12px;
            line-height: 15px;
        }
        .pencil__row_img{
            padding-top: 50px;
            img{
                width: 150px;
            }
        }
        .pencil__title{
            p{
                font-size: 40px;
            }
        }
        .pencil__text{
            font-size: 14px;
        }
        .pencil__row_main{
            display: flex;
            justify-content: space-between;
            padding-bottom: 40px;
        }
        .pencil__row_points{
            display: block;
            padding-left: 10px;
            p{
                font-size: 15px;
                line-height: 15px;
            }
            div{
                padding-top: 20px;
            }
        }
    }
    .feedback__button{
        a{
            font-size: 14px;
        }
    }
    .cosmos{
        padding: 0px;
        padding-top: 30px;
        padding-left: 0px;
        .cosmos__text{
            padding-bottom: 40px;
            p{
                font-size: 15px;
            }
        }
        .cosmos__row{
            display: block;
            padding: 20px 0px 20px 0px;
        }
        video{
            width: 300px;
            padding-left: 70px;
            padding-bottom: 20px;
            height: 230px;
        }
        .video__container{
            padding-bottom: 20px;
        }
        .cosmos__pretitle{
            padding-left: 0px;
        }
        .cosmos__title{
            padding-left: 0px;
        }
        .cosmos__background{
            img{
                width:770px;
            }
            top: -310px;
            left: 0px;
        }
        .hashtag{
            padding-top: 15px;
        }
        .cosmos__content{
            padding-left: 20px;
        }
    }
    .buy{
        overflow-y: hidden;
        .buy__container{
            padding: 0;
        }
        .buy__title{
            padding-bottom: 40px;
        }
        padding-left: 20px;
        .buy__row{
            padding-right: 10px;
            padding-top: 12px;
            padding-left: 5px;
            column-gap: 15px;
            overflow: hidden;
            span{
                font-size: 20px;
            }
        }
    }
    .hashtag{
        font-size: 10px;
    }
    header{
        .navigation__list-burger{
            li{
                a{
                    padding-top: 5px;
                    font-size: 15px;
                }
                font-size: 15px;
            }
        }
    }
    .team{
        padding-left: 20px;
        padding-top: 70px;
        .team__text{
            font-size: 13px;
        }
        .person{
            img{
                width: 130px;
            }
        }
        .team__row{
            column-gap: 40px;
        }
        .person{
            padding-bottom: 120px;
        }
        .social__network{
            font-size: 10px;
        }
        .person__name{
            top: 170px;
            left:10px;
            font-size: 20px;
        }
        .team__text{
            height: 250px;
            width: 200px;
            overflow: auto;
        }
        .team__title{
            padding-bottom: 40px;
        }
    }
    .social__network{
        font-size: 10px;
    }
    .set{
        padding: 140px 0px 0px 0px;
        span{
            font-size: 15px;
        }
        .button{
            width: 140px;
        }
        .set__title{
            padding-bottom: 30px;
        }
        .set__row{
            column-gap: 40px;
        }
        .set__img{
            img{
                padding-top: 50px;
                width: 240px;
            }
        }
        .set__radio{
            padding-right: 130px;
            column-gap: 13px;
            font-size: 10px;
            .grey::before{
                width: 10px;
                height: 10px;
                left: -5px;
                top: 2px;
            }
            .white::before{
                width: 10px;
                height: 10px;
                top: 2px;
                left: -5px;
            }
        }
    }
    .feedback{
        padding-left: 20px;
        .feedback__row{
            padding-top: 50px;
        }
        .feedback__section{
            padding-left: 0;
            padding-top: 50px;
        }
        .feedback__social{
            display: none;
        }
        .feedback__form{
            p{
                font-size: 14px;
            }
            input{
                width: 300px;
            }
            textarea{
                width: 300px;
                height: 80px;
            }
        }
    }
}
