html{
    width: 100%;
    overflow-x: hidden;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size:1.33vw;
    color: #323232;
    background-color: #000;
    color: #fff;
    margin: 0 auto;
    font-weight: 600;
    overflow-x: hidden;
    padding: 0;
}
h2{
    font-size: 8vw;
    line-height: 5vw;
}
.title__orange{
    color: #FF4900;
}
.title{
    font-family: 'Gilroy';
    font-style: normal;
    font-size: 8.57vw;
    line-height: 7.14vw;
    text-transform: lowercase;
    color: #fff;
    p:first-child{
        padding-bottom: 2vw;
    }
}
.button{
    border-radius: 18px;
    display: inline-block;
    box-sizing: border-box;
    height: 4vw;
    border: 0.2vw solid #FF4900;
    padding: 1vw 2.3vw;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
    font-size: 1vw;
    line-height: 2vw;
    &:hover{
        background-color: #FF4900;
        transition: background-color 0.3s ease-in;
    }
}
.points{
    display: flex;
    justify-content: space-between;
    column-gap: 3vw;
    font-family: 'Proxima Nova';
    font-size: 1.1vw;
    position: relative;
    img{
        position: absolute;
        margin-top: -1.7vw;
    }
    .number{
        transform: rotate(-90deg);
        transform-origin: top left;
        margin-left: -0.2vw;
        color: #FF4900;
        font-weight: 600;
        padding-bottom: 1.3vw;
    }
}
.pretitle{
    padding-bottom: 2.5vw;
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 0.9vw;
    line-height: 1.6vw;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
footer{
    padding-top: 12vw;
}
