.buy__container{
    padding: 0px 9vw;
}
.buy__title{
    padding-bottom: 8vw;
}

.buy__row{
    div{
        border-bottom: 0.1vw solid;
    }
    column-gap: 4.5vw;
    span{
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 700;
        font-size: 4.5vw;
        line-height: 80%;
    }
}