.key{
    position: relative;
    padding-left: 132px;
}
.key-background__img{
    position: absolute;
    width: 100%;
    right: 0px;
    top:-155px;
    left: 80px;
    background-size:100% 100%;
    background-repeat:no-repeat;
}
.key-background__img img{
    z-index: 0;
}
.key__title{
    position: relative;
    z-index: 1;
}
.key__content{
    position: relative;
    padding-top: 90px;
    z-index: 1;
}
.key__img{
    padding: 62px 82px 0px 0px;
    z-index: 1;
    position: relative;
}
.key__row{
    display: flex;
    justify-content: space-between;
    column-gap: 251px;
    position: relative;
}
.key__content{
    position: relative;
    p:first-child{
        padding-bottom: 40px;
        font-family: 'Proxima Nova';
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;
        width: 265px;
        z-index: 1;
    }
    .price{
        padding-bottom: 60px;
        font-family: "Proxima Nova";
        font-weight: 600;
        font-size: 26px;
        line-height: 32px;
        z-index: 1;
    }
}
