.params__row{
    display: flex;
    overflow-x: scroll;
    max-width: 1100px;
    padding-bottom: 90px;
    padding-right: 450px;
    &::-webkit-scrollbar{
        height: 2px;
    }
    &::-webkit-scrollbar-track{
        background: #404040;
        height: 2px;
    }
    &::-webkit-scrollbar-thumb{
        background: #FF4900;
        height: 2px;
    }
}
.params{
    padding-left: 258px;
    padding-top: 58px;
}
.params__title{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 80%;
    display: flex;
    align-items: center;
    width: 649px;
}
.params__scroll{
    display: flex;
    padding-top: 50px;
    column-gap:14px;
}
.scroll__number{
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
}
.arrows{
    display: flex;
    column-gap: 17px;
    padding-left: 36px;
    position: absolute;
    left: 370px;
}
.leftarr{
    transform: rotate(180deg);
}
.active{
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(5816%) hue-rotate(337deg) brightness(138%) contrast(100%);
}
.params__swipe{
    padding-top: 24px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 14px;
    letter-spacing: 0.04em;
    position: absolute;
}
