.set{
    padding: 12.24vw 11.3vw 0px 0px;
}
.set__row{
    display: flex;
    justify-content: center;
    column-gap: 6.72vw;
}
.set__title{
    padding-bottom: 4.1vw;
}
.set__price{
    font-family: 'Proxima Nova';
    font-weight: 600;
    font-size: 1.35vw;
    line-height: 1.67vw;
    padding-bottom: 2.19vw;
}
.set__img{
    left: 5%;
    img{
        width: 30vw;
    }
}
.set__radio{
    display:flex;
    column-gap: 2.6vw;
    padding-bottom: 3.13vw;
    font-weight: 600;
    font-size: 1.3vw;
    line-height: 1.35vw;
    a{
        position: relative;
        padding-left: 2.19vw;
    }
    .white::before{
        content:'';
        position: absolute;
        display: inline-block;
        width: 1.46vw;
        height: 1.46vw;
        border-radius: 50%;
        background-color: #fff;
        top: 0%;
        left: 0%;
    }
    .grey::before{
        content:'';
        position: absolute;
        display: inline-block;
        width: 1.46vw;
        height: 1.46vw;
        border-radius: 50%;
        background-color: #464646;
        top: 0%;
        left: 0%;
    }
}
input{
    display: block;
}