.wrapper{
    background: url("./../img/header/line_wrapper.svg");
    background-size: 100% 100%;
}
.team{
    padding: 12.55vw 0px 0px 6.88vw;
    position: relative;
}
.team__row{
    display: flex;
    column-gap: 14vw;
}
.person{
    img{
        width: 15vw;
    }
}
.person__row{
    display: flex;
}
.team__title{
    padding-bottom: 5.21vw;
}
.team__person{
    position: relative;
}
.person__name{
    font-family: 'Gilroy';
    font-size: 2vw;
    line-height: 100%;    
    position: absolute;
    top: 0%;
    left:70%;
    text-transform: lowercase;
}
.social__network{
    display:flex;
    column-gap: 1.2vw;
    text-transform: capitalize;
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 1vw;
    line-height: 0.9vw;
    line-height: 0.04em;
    color:#FF4900;
}
.person__line{
    padding: 1.56vw 0px;
}
.team__text{
    padding-top: 5.21vw;
    font-family: 'Proxima Nova';
    font-size: 1.2vw;
    line-height: 1.7vw;
    max-width: 23.6vw;
    p{
        padding-bottom: 1.3vw;
    }
}

